@import "../../Style/index.less";

.owl-roller-container {
  position: relative;
  user-select: none;
}

.owl-roller-overflow-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.owl-roller-item-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s;
}

.owl-roller-slider-show {
  z-index: 2;
}

.owl-roller-item-wrapper {
  display: inline-block;
  vertical-align: top;
}

.owl-roller-tool-wrapper {

}

.owl-roller-tool {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  opacity: 0;
  transition: opacity .3s;
  background-color: #000000;
  text-align: center;
  z-index: 3;
}

.owl-roller-tool:hover {
  cursor: pointer;
  transition: opacity .3s;
  opacity: 0.7 !important;
}

.owl-roller-container:hover .owl-roller-tool {
  opacity: 0.2;
  transition: opacity .3s;
}

.owl-roller-tool-pre-h {
  top: calc(50% - 20px);
  left: 20px;
}

.owl-roller-tool-pre-v {
  left: calc(50% - 20px);
  top: 20px;
}

.owl-roller-tool-next-h {
  top: calc(50% - 20px);
  right: 20px;
}

.owl-roller-tool-next-v {
  right: calc(50% - 20px);
  bottom: 20px;
}

.owl-roller-tip-wrapper {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
}

.owl-roller-tip-wrapper-h {
  width: 100%;
  height: 20px;
  line-height: 20px;
  bottom: 10px;
  text-align: center;
}

.owl-roller-tip-wrapper-v {
  width: 20px;
  right: 10px;
  top: 0;
}

.owl-roller-tip-dot .owl-roller-tip-h {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #000000;
  display: inline-block;
  margin-left: 6px;
  opacity: .2;
  cursor: pointer;
  transition: opacity .3s;
}

.owl-roller-tip-dot .owl-roller-tip-v {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #000000;
  margin: auto;
  margin-bottom: 6px;
  opacity: .2;
  cursor: pointer;
  transition: opacity .3s;
}

.owl-roller-tip-line .owl-roller-tip-h {
  width: 18px;
  height: 100%;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  position: relative;
}

.owl-roller-tip-line .owl-roller-tip-v {
  height: 18px;
  width: 100%;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
}

.owl-roller-tip-line .owl-roller-tip-h::before {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #000000;
  opacity: .2;
  transition: all .3s;
  display: block;
  position: absolute;
  top: calc(50% - 1px);
}

.owl-roller-tip-line .owl-roller-tip-v::before {
  content: "";
  height: 100%;
  width: 3px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #000000;
  opacity: .2;
  transition: all .3s;
  display: block;
  position: absolute;
  left: calc(50% - 1px);
}

.owl-roller-tip-dot .owl-roller-tip-active {
  opacity: .5;
}

.owl-roller-tip-line .owl-roller-tip-h.owl-roller-tip-active {
  width: 24px;
}

.owl-roller-tip-line .owl-roller-tip-v.owl-roller-tip-active {
  height: 24px;
}

.owl-roller-tip-line .owl-roller-tip-h.owl-roller-tip-active:before {
  opacity: .7;
  transform: translateY(-1px);
}

.owl-roller-tip-line .owl-roller-tip-v.owl-roller-tip-active:before {
  opacity: .7;
  transform: translateX(-1px);
}

.owl-roller-item-box {
  width: 100%;
  height: 100%;
}

.owl-roller-item-box>* {
  width: 100%;
  height: 100%;
}