
//骚紫主题
@theme-purple: #9B59B6;
@theme-purple-more: #8E44AD;
@theme-purple-active: #F1C40F;
@theme-purple-font-color: #ffffff;

//浅淡主题
@theme-light: #2E86C1;
@theme-light-more: #2471A3;
@theme-light-active: #F1C40F;
@theme-light-font-color: #ffffff;

//暗黑主题
@theme-dark: #273746;
@theme-dark-less: #34495E;
@theme-dark-more: #17202A;
@theme-dark-active: #F1C40F;
@theme-dark-font-color: #ffffff;


@theme: @theme-dark;
@theme-less: @theme-dark-less;
@theme-more: @theme-dark-more;
@theme-active: @theme-dark-active;
@theme-font-color: @theme-dark-font-color;

html {
  margin: 0;
  padding: 0;
  border: none;
}